html {
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  text-align: center;
  padding: 0;
}

button {
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  padding: 5px;
  color: #ffffff;
  background-color: #000;
  margin: 20px;
}

button:hover {
  color: #EEEA9A;
  border: 2px solid #fff;
}
button:focus {outline:0;}

canvas {
  background-color: #000;
  margin: 0px;
}

#gameover {
  position: relative;
  font-size: 24px;
  letter-spacing: 0.3em;
  left: auto;
  top: 150px;
  z-index: 1;
  opacity: 0;
  color: #fff;
}

.gametitle {
  background-color:#000;
  color: #eee;
  width: 310px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  padding: 20px 0 20px 0;
}

.game {
  background-color:#000;
}